.container {
    display: flex;
}

.grid {
    margin: 50px;
    height: 400px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetromino {
    background-color: black;
}

.mini-grid {
    margin: 50px;
    height: 80px;
    width: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
}

.mini-grid div {
    height: 20px;
    width: 20px;
    ;
}